<div class="block" id="block-text">  
  <div class="content">
    <div class="inner">
      <h1>Archived conferences</h1>

      <table width="95%">
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Date</th>
          <th>Marketer</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

      <% @conferences.each do |conference| %>
        <tr>
          <td><%= conference.code %></td>
          <td><%= conference.name %></td>
          <td><%= conference.date.strftime("%B %e, %Y") %></td>
          <td><%= conference.user.full_name %></td>
          <td><%= link_to 'Show', conference %></td>
          <td><%= link_to 'Edit', edit_conference_path(conference) if @admin %></td>
          <td><%= link_to 'Destroy', conference, :confirm => 'Are you sure?', :method => :delete if @admin %></td>
        </tr>
      <% end %>
      </table>

      <br />

      <%= link_to 'New Conference', new_conference_path if @admin %>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>