<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Docket #" %><br />
    <%= f.text_field :docket %>
  </div>
  <div class="field">
    <%= f.label :usage %><br />
    <%= f.text_field :usage %>
  </div>
  <div class="field">
    <%= f.label "Codes / Comments" %><br />
    <%= f.text_area :note %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :folded %><br />
    <%= f.text_field :folded %>
  </div>
  <div class="field">
    <%= f.label :flat %><br />
    <%= f.text_field :flat %>
  </div>
  <div class="actions">
    <%= f.hidden_field :conference_id %>
     <%= f.submit %>
  </div>
<% end %>
